/* 
***************************************
   Input Character Assessment Demo
   by Theo du Plooy
   081 415 6287 | tdpcorp@gmail.com
*************************************** 
 */

html, body {
    height: 100%!important;
}

body {
    position: relative;
    transition: all 2000ms ease-in-out;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#CCCCC7;
    background-color: #272822;
}

a, a:hover, a:focus, a:visited {
    text-decoration: none!important;
    color: #CCCCC7;
}

::placeholder {
    color: #CCCCC7;
}

@keyframes alertAni {
    0% {
        opacity: 0;
    }
   
    50% {
        background-color: #dc143c;
        opacity: 0.8;
    }
   
    100% {
        opacity: 0;
    }
}

.main-layout-holder {
    display: grid;
    grid-template-rows: 40px auto 200px 51px 1fr 10%;
    grid-template-columns: 100%;
    margin-left: 1%;
    margin-right: 2%;
    width: 99%;
    height: 100%;
}

.alert-overlay {
    display: none;
}

body.alert .alert-overlay {
    opacity: 0.8;
    display: inline-block;
    position: absolute;
    top: 0px!important;
    left: 0px!important;
    z-index: 2;
    width: 100%;
    height: 100%;
    animation: alertAni;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-direction:normal;
    animation-fill-mode: forwards;
    background-color: #dc143c;
}

fieldset {
    background-color: #34352F;
    border: 0.5px solid #484945;
}

fieldset legend {
    font-weight: bold!important;
    font-size: 13px;
}

.feedback-box {
    height: 100%;
    font-size: 12px;
}

.feedback-box fieldset {
    padding: 0px;
}

.feedback-box fieldset, .feedback-box div {
    width: 99.8%;
    height: 100%;
}

.output {
    padding: 5px;
    font-size: 11px!important;
}

.input-holder-fieldset {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.input-holders {
    height: 90%;
    max-width: 60%;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
}

.input-holders .row {
    display: grid;
    grid-template-columns: 10% auto 30px;
    margin-bottom: 10px;
}

.input-close-holder {
    display: grid;
    grid-template-columns: 70% 10%;
}

.input-holders label {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
}

.input-holders input {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #484945;
    box-shadow: none!important;
    transition: all 250ms ease-in-out;
}

.input-holders input:hover, .input-holders input:focus, .input-holders .input:active {
    border: 2px solid #0083D0;
    outline: none!important;
    box-shadow: none!important;
}

.newline-row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.newline {
    margin-left: 10px;
    padding: 10px;
    background-color: #0083D0;
    border: 2px solid #0E5FBF;
    border-radius: 10px;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

.newline:hover {
    background-color: #0E5FBF;
    border: 2px solid #0083D0
}

.textarea-output-holder fieldset {
    height: 95%;
}

textarea, textarea:disabled {
    width: 98%;
    height: 90%;
    font-family: inherit;
    color: #CCCCC7;
    padding: 10px!important;
    background: transparent;
    border: none!important;
    resize: none;
}

.presentation-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: #CCCCC7;
    font-size: 13px;
}

.row:nth-of-type(even) input[type="text"] {
    background-color:#fff;
}

.row:nth-of-type(odd) input[type="text"] {
    background-color:#CCCCC7!important;
}

.row.init {
    display: none;
}

.row div.close {
    display: inline-flex!important;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left: 5px!important;
    width: 30px;
    height: 30px;
    border: 3px solid #E33E30;
    border-radius: 200%;
    line-height: 1;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

div.close:hover {
    border: 3px solid #fff;
}

.row div.close span {
    display: inline-flex;
    font-weight:  bold!important;
    font-size: 19px!important;
    color: #E33E30;
    transition: all 250ms ease-in-out;
}

.row div.close:hover span {
    color: #FFF;
} 

/* /// Responsive /// */
@media (max-width: 500px) {
    body {
        padding-left: 10px;
        padding-right: 31px;
    }

    .input-holders {
        max-width: 100%!important;
    }

    .input-holders .row {
        display: grid;
        grid-template-columns: auto;
        margin-bottom: 10px;
    }

    .input-holders label {
        margin-bottom: 10px;
    }

    .input-close-holder {
        display: grid;
        grid-template-columns: 79% 5%;
    }

    .presentation-footer {
        padding-top: 8px!important;
        font-size: 10px;
    }
}

@media (min-width: 1000px) {
    .main-layout-holder {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}